.foot {
    background-color: red;
    color: white;
    border: 3px solid black;
    font-style: italic;
    font-weight: bold;
    font-family:  Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    text-align: center;
    margin: 1em auto;
    padding: 10px;
    width: 960px;
    grid-column: span 12;
}

div {
    background-color: white;
    margin: 1em auto;
    padding: 10px;
    width: 960px;
    border: 3px solid black;
    display: grid;
}

.float {
    float: left;
    padding: 10px;
    border: 3px solid black;
}

.bold {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

div a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

div a:hover {
    color: blue;
    text-decoration: underline;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: black;
    color: white;
    padding: 20px;
    grid-column: span 12;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
    border-bottom: 3px solid black;

}

body {
    background-image: url(a62.png);
    padding-left: 100px;
    padding-right: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-left: 0;
    grid-column: span 3;
}

nav li {
    width: 150px;
    display: inline-block;
    padding-bottom: 10px;
}

nav li a {

    background-color: red;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav li a:hover {
    background-color: darkred;
}

main {
    grid-column: span 9;
}